<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favi.png">
    <link rel="stylesheet" href="/static/concert.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700;800;900&display=swap" rel="stylesheet">   
    <title>Concerrts</title>
</head>
<body>
    <div class="container">
        <div class="column">
            <div class="card">
                    {{range $locations, $dates := .DatesLocations}}
                    <span class="locations">{{ $locations }}</span>
                    {{range $index, $date := $dates}}
                    <span class="dates"> {{ $date }} </span>
                    {{end}}
                    {{end}}
            </div>
        </div>
        <footer> 
            <nav>
                <div class="footer">
                    <a href="/artist/{{.ID}}">Back</a>
                <span class="home-page"><a href="/" class="home">Home</a></span>
                <span class="project"><a href="https://01.alem.school/git/M.a_k/groupie-tracker" class="home">Project</a></span>
                </div>
            </nav>
        </footer>
    </div>
</body>
</html>