<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favi.png">
    <link rel="stylesheet" href="/static/error.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700;800;900&display=swap" rel="stylesheet"> 
    <title>Groupie Tracker</title>
</head>
<body>
    <h1 class="error">{{.Status}}</h1>
    <p class="error">{{.Message}}</p>

    <footer>
        <nav>
            <div>
            <a href="/" class="home">Home</a>
            <br>
            <a href="https://01.alem.school/git/M.a_k/groupie-tracker" class="home">Project</a>
            </div>
        </nav>
    </footer>
</body>
</html>